
:root {
    --el-color-primary: #52e8fd; /* 改变主色调 */
    --el-color-success: #67c23a; /* 改变成功色 */
    --el-text-color-regular: #982424; /* 改变文字色 */
    --el-text-color-placeholder: #7e7e7e; /* 改变占位符文字色 */
    --el-text-color-secondary: #fff; /* 改变次要文字色 */
    --el-disabled-border-color: #fff; /* 改变禁用边框色 */
    --el-disabled-text-color: #fff; /* 改变禁用文字色 */
    --el-border-color-hover: #891616; /* 改变鼠标悬停边框色 */

    /* 更多变量... */
}